h1 {
  font-size: 20px;
}

h1 small {
  font-size: 16px;  
}


h2 {
/*
  color: #3399AA;

  background-image: url(../images/border2.png);
  background-repeat: no-repeat;
  background-color: #B2ECFD;
*/
  color: white;
/*  background-color: #006890; */
  background-color: #0089ba;
  border-top: 0;
  border-left: 0;
  border-right: 2px solid #F0F0FF;
  border-bottom: 2px solid #F0F0FF;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 10px;
  width: 99%;
  font-size: 19px;
  line-height: 25px;
}

h3
{
  color: #3380AA;
  background-image: url(/images/banner_w.png);
  background-repeat: no-repeat;
  background-color: #F0FFFF;
  border-bottom: 2px solid #AADDFF;
  border-right: 2px solid #99CCFF;
  border-top: 1px solid #EEEEFF;
  border-left: 1px solid #EEEEFF;
  margin-left: 5px;
  padding-left: 5px;
  width: 98%;
  font-size: 16px;
  line-height: 20px;
}

h4
{
  color: #006890;
  margin: 2px;
  padding: 2px;
  padding-left: 10px;
}